__pycache__
.DS_Store
.ipynb_checkpoints

Preds
wandb
.LOCAL
job_*
Temporary_Notebooks
Networks
Notebooks/Figures
Misc_Data
Notebooks/Figures_*
Paper_Figure_Notebooks/Figures_For_Paper*
Analysis_Noteboooks
Grads
*.png
*.jpg
Weights/**/*.tar
Weights/**/__pycache__
Weights
Tmp